.iconWrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.green {
	color: limegreen;
}

.red {
	color: rgba(221, 23, 63, 0.767);
}

.blue {
	color: rgba(51, 51, 177, 0.8);
}

.black {
	color: rgb(32, 29, 29);
}
