@use "../../../css/variables" as *;
@use "../../../css/mixins" as *;

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	@include shadow();
	transition: all 120ms ease-out;
	p {
		width: 100%;
	}

	span {
		color: green;
	}
	&:hover {
		background-color: rgb(218, 210, 210);
	}
}

.data {
	padding: 0 15px;
	font-weight: 400;
	font-size: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.selected {
	background-color: rgb(168, 161, 161);
}

.green {
	color: limegreen;
}

.red {
	color: crimson;
}
