@use "../../css/my_app.scss" as *;
@use "../../css/mixins" as *;
@use "../../css/variables" as *;

$w: 60px;
$h: calc($w / 2.2);
$pad: 1px;
$br: calc($w / 3);
$btnpad: calc($h / 2 - ($pad * 2));
$buttonWidth: calc(($h / 2) - ($pad * 2));
$left: calc($w - ($buttonWidth * 2.2));

.toggle_container {
	width: $w;
	background-color: white;
	cursor: pointer;
	user-select: none;
	border-radius: $br;
	padding: $pad;
	height: $h;
	position: relative;
	border: 1px solid rgba(255, 255, 255, 0.815);
}

.dialog_button {
	cursor: pointer;
	background-color: $appYellow;
	color: white;
	padding: $btnpad;
	border-radius: $buttonWidth;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: $buttonWidth;
	min-width: unset;
	box-sizing: border-box;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	position: absolute;
	left: $left;
	transition: all 0.3s ease;
}

.disabled {
	background-color: $navPrimaryBG;
	left: $pad;
}
