.container {
	width: 100%;
	padding: 5px;
	height: calc(100vh - 35px);
}
.colorWrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	margin: auto;
}

.colors {
	display: grid;
	place-items: center;
	width: 100px;
	height: 100px;
	margin: 5px;
}
