@use "css" as *;

$SBtransition: all 200ms ease;

.layout {
    position: relative;
    width: 100%;
}
.container {
    position: relative;
    width: 100%;
    height: calc(100% - $navHeight);
    overflow: hidden;
    &__with-sidebar-open {
        padding-left: $SBsize;
    }
    transition: $SBtransition;
}
