@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;

.container {
	@include container($navHeight);
	display: flex;
	background-color: rgba(139, 226, 197, 0.836);
}

.imageWrapper {
	width: 100%;
	min-width: 300px;
	overflow: hidden;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.linkWrapper {
	@include sideBar;
	width: 20%;
	text-align: center;
}

.imageStyle {
	display: block;
	margin: 2rem auto;
}
