@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;
@use "../../../css/variables" as *;

.container {
	@include container();
}

.imageWrapper {
	// width: 100%;
	height: 100vh;
	@include fCenter;
	overflow-y: auto;
	@include noVisibleScrollBar;
}

.linkWrapper {
	height: 100%;
	background-color: $appBlack;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	@include linksAnchorStyle;
}

.imageStyle {
	width: 90%;
	max-width: 700px;
}

.menuButton {
	position: absolute;
}
