@use "../../css/my_app" as *;
@use "../../css/mixins" as *;
@use "../../css/variables" as *;

.wrapper {
	// @include container;
	width: 100%;
	@include sideBar;
	display: flex;
	overflow-y: auto;
}

.container {
	width: 100%;
	overflow-y: auto;
	display: flex;
}

.links {
	width: 100px;
	background-color: $myYellow3;
	a {
		z-index: 100;
		color: white;
		&:hover {
			color: $navPrimaryBG;
		}
	}
}
