@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;

.container {
	position: relative;
	padding: 1rem;
	gap: 1rem;
	@include container(100%);
	@include fCenter(column);
	background-color: white;
	z-index: 1;
	&__dark {
		background-color: rgb(20, 20, 20);
	}
}

.tableHeader {
	width: 100%;
	padding: 0 2rem;
	@include fAround;
}
