@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;

.container {
	position: relative;
	padding: 1rem;
	gap: 1rem;
	@include container(100%);
	@include fCenter(column);
	// @include before("../images/contor_gaz.jpg");
	background-color: white;
	z-index: 1;
	&__dark {
		background-color: rgb(20, 20, 20);
	}
}

.billTotalInfo {
	width: 100%;
	display: flex;
	justify-content: center;
	h3 {
		min-width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: break-all;
	}
}

.highlighted {
	color: crimson;
}

.tableHeader {
	width: 100%;
	padding: 0 2rem;
	@include fAround;
}
