@mixin icon-hover {
    padding: 4px;
    margin: 0 3px;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    flex-shrink: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    transition: all 150ms ease 20ms;
    &:hover {
        transform: scale(1.2);
        box-shadow: none;
    }
}

.iconWrapper {
    display: flex;
    justify-content: center;
}

.checkIcon {
    color: limegreen;
    @include icon-hover;
}

.dangerIcon {
    color: rgba(221, 23, 63, 0.767);
    @include icon-hover;
}

.editIcon {
    color: rgba(51, 51, 177, 0.8);
    @include icon-hover;
}

.trashIcon {
    color: rgb(32, 29, 29);
    @include icon-hover;
}
