@mixin icon-hover {
    padding: 4px;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    transition: all 150ms ease;
    &:hover {
        transform: rotate(360deg);
    }
}

.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.green {
    color: limegreen;
    flex-shrink: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    @include icon-hover;
}

.red {
    color: rgba(221, 23, 63, 0.767);
    flex-shrink: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    @include icon-hover;
}

.blue {
    color: rgba(51, 51, 177, 0.8);
    flex-shrink: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    @include icon-hover;
}

.black {
    color: rgb(32, 29, 29);
    margin: 0 10px;
    flex-shrink: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    @include icon-hover;
}
