.defaultStyle {
	background: transparent;
	border: none;
	outline: none;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 2px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	transition: all 120ms ease-out;
	&:hover {
		background-color: rgb(194, 190, 190);
	}
	&:active {
		transform: scale(0.95);
	}
}
