.defaultStyle {
	background: transparent;
	border: none;
	outline: none;
	font-weight: bold;
	padding: 5px 10px;
	margin-left: 3px;
	border-radius: 2px;
	z-index: 100;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	transition: all 120ms ease-out;
	&:hover {
		background-color: rgb(124, 118, 118);
		color: rgba(250, 245, 245, 0.932);
	}
	&:active {
		transform: scale(0.95);
	}
	&__disabled {
		.defaultStyle__content {
			color: rgba(141, 8, 8, 0.5);
		}
		&:hover {
			background: transparent;
		}
		&:active {
			transform: none;
		}
	}
	&__width {
		width: 200px;
	}
	&__dark {
		background-color: white;
		.defaultStyle__content {
			color: skyblue;
		}
	}
}
