@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;

.container {
	@include container();
	@include fCenter(column);
	background-color: white;
	&__dark {
		background-color: rgb(20, 20, 20);
	}
}

.highlighted {
	color: crimson;
}
