@use "../../../css/variables" as *;
@use "../../../css/mixins" as *;
@use "../../../css/my_app" as *;

.container {
	margin: 0;
	@include container($navHeight);
	background-color: rgb(164, 243, 243);
}

.addMargin {
	margin-left: $SBsize;
}

.colorWrapper {
	display: flex;
	justify-content: center;
}

.colors {
	display: grid;
	place-items: center;
	width: 100px;
	height: 100px;
	margin: 5px;
}
