.container {
	background: rgb(235, 231, 231);
	border-radius: 2px;
	box-shadow: 2px 2px 10px rgba(25, 23, 23, 0.9),
		-2px -3px 10px rgba(250, 250, 250, 0.2);
	padding: 1rem 0.5rem;
	color: rgb(26, 24, 24);
	display: flex;
	flex-direction: column;
	min-width: 150px;
	h2 {
		text-align: center;
		font-size: clamp(0.8rem, 3vh, 3rem);
		font-family: monospace;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.buttons {
	margin-left: auto;
	.submit,
	.cancel {
		margin: 0.3rem;
	}
}

.submit {
	color: rgb(34, 116, 34);
}

.cancel {
	color: rgb(163, 33, 59);
}

.small {
	width: 20%;
}
.medium {
	width: 30%;
}
.large {
	width: 40%;
}
.xxl {
	width: 50%;
}
