@use "css" as *;

$lineUp: 3;

.container {
    @include appContainer($darkMode, $lineUp);
}

.homeBox {
    padding: 1rem;
    @include fCenter();
    @include shadow3();
    border-radius: 5px;
}

.dropContainer {
    width: 250px;
    background-color: cadetblue;
}

.menuItem {
    background-color: darkgoldenrod;
}
