@use "../../css/my_app" as *;
@use "../../css/mixins" as *;
@use "../../css/variables" as *;

.container {
    @include container(100%);
    background-color: $appBlack;
    // @include fAround(row);
    @include centered;
    & > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.form {
    display: flex;
    width: 90%;
    padding: 5px;
    max-width: 600px;
}
