@use "../../css/my_app" as *;
@use "../../css/mixins" as *;
@use "../../css/variables" as *;

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: $appBlack;
    overflow: hidden;
    @include centered;
}

.dropHolder {
    width: 100%;
    height: 20vh;
}
