@use "../../../css" as *;

$cols: 4;
$gap: 5px;
$backColor: rgb(9, 77, 9);
$white-bg: rgba(247, 241, 241, 0.9);
$grid-background: rgb(1, 51, 20);
$front-background: rgba(255, 255, 525, 0.6);

.container {
    position: relative;
    width: 100%;
    height: 100%;
    @include fCenter(column);
    @include shadowSB;
    overflow: hidden;
    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: black url(../images/Minions.png) no-repeat bottom/cover;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: 0;
    }
}

.grid {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $gap;
    padding: calc($gap * 1.5);
    background: $grid-background;
    border-radius: $gap;
    z-index: 5;
    @include shadowSB;
    transition: all 100ms;
    &__portrait {
        width: 95%;
        height: 50%;
    }
    &__landscape {
        width: 70%;
        height: 80%;
    }
}

.box {
    border-radius: 2px;
    overflow: hidden;
    pointer-events: all;
    user-select: none;
}

.game_image {
    height: 80%;
    display: block;
}

.front {
    width: 100%;
    height: 100%;
    background-color: $front-background;
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
        position: absolute;
        content: "";
        left: 5%;
        top: 5%;
        background: url(../images/gru-clean.png) no-repeat center/cover;
        width: 90%;
        height: 90%;
        opacity: 0.5;
    }
}

.back {
    background-color: $white-bg;
    width: 100%;
    height: 100%;
    @include fCenter();
}

.disabled {
    pointer-events: none;
}

.faded {
    opacity: 0.5;
}

.buttons {
    color: white;
    text-transform: uppercase;
    background-color: $backColor;
    &:hover {
        color: red;
        background-color: lighten($backColor, 5%);
    }
}
