@use "css" as *;

$submitButtonColor: rgb(34, 116, 34);
$cancelButtonColor: rgb(163, 33, 59);

.defaultStyle {
    display: block;
    position: relative;
    overflow: hidden;
    background: $myYellow3;
    color: $myGrey;
    border: none;
    outline: none;
    font-weight: bold;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    transition: all 120ms ease-out;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: -10px;
        width: 100%;
        height: 0px;
        background-color: white;
        box-shadow: 0 2px 5px 10px rgba(255, 255, 255, 0.5);
        transition: all 200ms ease-in;
    }

    &:focus-within {
        outline: none;
        border: none;
    }

    &:hover {
        color: $navPrimaryBG;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

        &::after {
            translate: y (100px);
        }
    }

    &:active {
        scale: 0.95;
    }

    &__disabled {
        .defaultStyle {
            background-color: lighten($myYellow3, 40%);

            &__content {
                color: rgba(255, 255, 255, 0.6);
            }
        }

        &:hover {
            background: transparent;
            cursor: not-allowed;
        }
    }

    &__width {
        width: 200px;
    }

    &__dark {
        background-color: white;

        .defaultStyle__content {
            color: skyblue;
        }
    }

    &__hidden {
        display: none;
    }

    &.submitButton {
        color: $submitButtonColor;
    }

    &.cancelButton {
        color: $cancelButtonColor;
    }
}
