@use "../../css/variables" as *;
@use "../../css/mixins" as *;
@use "../../css/my_app" as *;

.defaultStyle {
    display: none;
    position: relative;
    overflow: hidden;
    background: $myYellow3;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    transition: all 120ms ease-out;
    &::after {
        position: absolute;
        content: " ";
        left: 0;
        top: -10px;
        width: 100%;
        height: 0px;
        background-color: white;
        box-shadow: 0 2px 5px 10px rgba(255, 255, 255, 0.5);
        transition: all 200ms ease-in;
    }
    &:hover {
        color: $navPrimaryBG;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
        &::after {
            transform: translateY(100px);
        }
    }
    &:active {
        transform: scale(0.95);
    }
    &__disabled {
        .defaultStyle__content {
            color: rgba(255, 255, 255, 0.411);
        }
        &:hover {
            background: transparent;
        }
        &:active {
            transform: none;
        }
    }
    &__width {
        width: 200px;
    }
    &__dark {
        background-color: white;
        .defaultStyle__content {
            color: skyblue;
        }
    }
    &__display {
        display: block;
    }
}
