@use "css" as *;

$submitButtonColor: rgb(34, 116, 34);
$cancelButtonColor: rgb(163, 33, 59);

@mixin menuButton {
    position: absolute;
    left: 0;
    top: calc($navHeight * -2);
    z-index: 10;
    animation: flowDown 600ms ease-out forwards;
    @keyframes flowDown {
        to {
            top: calc($navHeight - 5px);
        }
    }
}

.button {
    display: block;
    position: relative;
    overflow: hidden;
    background: $myYellow3;
    color: $myGrey;
    border: none;
    outline: none;
    font-weight: bold;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    z-index: 100;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    transition: all 120ms ease-out;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: -10px;
        width: 100%;
        height: 0px;
        background-color: $darkModeWhite;
        box-shadow: 0 2px 5px 10px rgba(255, 255, 255, 0.5);
        transition: all 200ms ease-in;
    }

    &:focus-within {
        outline: none;
        border: none;
    }

    &:hover {
        color: $navPrimaryBG;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);

        &::after {
            transform: translateY(100px);
        }
    }

    &:active {
        scale: 0.95;
    }

    &__disabled {
        background-color: lighten($myYellow3, 25%);
        outline: 1px solid red;

        &:hover {
            background-color: transparent;
            color: $darkModeWhite;
            cursor: not-allowed;
        }
    }

    &__width {
        width: 200px;
    }

    &__dark {
        background-color: $darkModeWhite;
        color: skyblue;
    }

    &__hidden {
        display: none;
    }

    &__submit {
        color: $submitButtonColor;
    }

    &__cancel {
        color: $cancelButtonColor;
    }

    &__menu {
        @include menuButton();
    }
}
