@use "../../css" as *;

.wrapper {
    width: 100%;
    height: 70vh;
    padding: 0.5rem;
    box-shadow: $shadow;
}

.header {
    width: 100%;
    height: $navHeight;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background-color: $navPrimaryBG;
}

.body {
    width: 100%;
    height: calc(100% - $navHeight);
    overflow: hidden auto;
    // background-color: rgb(31, 29, 29); darkmode TODO
    @include noVisibleScrollBar;
}
