@use "css" as *;

.wrapper {
    width: 100%;
    height: 70vh;
    padding: 0.5rem;
    box-shadow: $shadow;
    padding-bottom: 0;
}

.header {
    width: 100%;
    height: $navHeight;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background-color: $navPrimaryBG;
}

.body {
    width: 100%;
    height: calc(100% - $navHeight);
    overflow-y: auto;
    @include noVisibleScrollBar;
}
