@use "../../../css/my_app" as *;

$primary-background: rgb(180, 225, 243);

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $primary-background;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    &__dark {
        background: none;
    }
}

.buttons {
    display: flex;
}
