@use "css" as *;

$iconTypes: (
    "disabled": crimson,
    "check": limegreen,
    "danger": rgba(221, 23, 63, 0.767),
    "delete": crimson,
    "edit": rgba(51, 51, 177, 0.8),
    "confirm": limegreen,
    "cancel": crimson,
);

.icon {
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: inherit;
    transition: all 150ms ease 20ms;

    &__small {
        padding: 3px;
    }
    &__medium {
        padding: 6px;
        font-size: 1.3rem;
    }
    &__large {
        padding: 9px;
        font-size: 1.5rem;
        flex-shrink: 1;
    }
    &__xxl {
        padding: 15px;
        font-size: 1.8rem;
        flex-shrink: 1;
    }

    &:hover {
        background-color: darken($darkModeWhite, 85%);
        border-radius: 50%;
        svg {
            color: lighten($darkModeWhite, 60%);
        }
    }

    @each $key, $value in $iconTypes {
        &__#{$key} {
            color: $value;
        }
    }

    &__disabled {
        opacity: 0.3;
        // pointer-events: none;
        &:hover {
            cursor: not-allowed;
        }
    }
}
