@use "css" as *;

.icon {
    display: flex;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: inherit;
    transition: all 150ms ease 20ms;

    &__small {
        padding: 3px;
    }
    &__medium {
        padding: 6px;
        font-size: 1.3rem;
    }
    &__large {
        padding: 9px;
        font-size: 1.5rem;
        flex-shrink: 1;
    }
    &__xxl {
        padding: 15px;
        font-size: 1.8rem;
        flex-shrink: 1;
    }

    &:hover {
        background-color: darken($darkModeWhite, 85%);
        border-radius: 50%;
        svg {
            color: lighten($darkModeWhite, 60%);
        }
    }

    &__disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &__payed {
        color: limegreen;
    }

    &__not-payed {
        color: rgba(221, 23, 63, 0.767);
    }

    &__delete {
        color: rgb(32, 29, 29);
    }

    &__edit {
        color: rgba(51, 51, 177, 0.8);
    }

    &__confirm {
        color: limegreen;
    }

    &__cancel {
        color: crimson;
    }
}
