@use "../../../css/mixins" as *;
@use "../../../css/my_app.scss" as *;

$cols: 4;
$boxSize: 125px;
$gap: 5px;
$border: 1px solid white;
$backColor: rgb(9, 77, 9);

.container {
	position: relative;
	@include container();
	@include fEven(column);
	@include shadowSB;
	&::after {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		background: black url(../../../images/christmas-background_1280.jpg)
			no-repeat bottom/cover;
		width: 100%;
		height: 100%;
		opacity: 0.5;
		z-index: -1;
	}
}

.grid {
	@include shadowSB();
	display: grid;
	grid-template-columns: repeat($cols, 1fr);
	gap: $gap;
	padding: calc($gap * 2);
	background: rgb(1, 51, 20);
	border-radius: $gap;
}

.box {
	width: $boxSize;
	aspect-ratio: 1;
	border: 1px solid rgba(247, 241, 241, 0.3);
	border-radius: 2px;
	overflow: hidden;
	pointer-events: all;
	user-select: none;
}

.game_image {
	height: 90%;
	display: block;
}

.front {
	width: $boxSize;
	height: $boxSize;
	aspect-ratio: 1;
	background-color: rgba(226, 235, 226, 0.719);
	@include fCenter();
}

.back {
	background-color: $backColor;
	width: 100%;
	height: 100%;
	@include fCenter();
}

.disabled {
	pointer-events: none;
}

.faded {
	opacity: 0.5;
}

.buttons {
	color: white;
	text-transform: uppercase;
	background-color: $backColor;
	&:hover {
		color: red;
		background-color: lighten($backColor, 5%);
	}
}
