@use "../../../css/mixins" as *;
@use "../../../css/my_app.scss" as *;

.container {
	position: relative;
	@include container(100%);
	@include fEven(column);
	@include shadowSB;
	overflow: hidden;
	&::after {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		background: black url(../../../images/christmas-background_1280.jpg)
			no-repeat bottom/cover;
		width: 100%;
		height: 120%;
		opacity: 0.5;
		z-index: -1;
	}
}

.grid {
	width: 40%;
	min-width: $minWidth;
	display: grid;
	grid-template-columns: repeat($cols, 1fr);
	gap: $gap;
	padding: calc($gap * 2);
	background: rgb(1, 51, 20);
	border-radius: $gap;
	@include shadowSB;
	transition: all 100ms;
}

.box {
	width: 100%;
	height: 100%;
	aspect-ratio: 1;
	border: 1px solid rgba(247, 241, 241, 0.3);
	border-radius: 2px;
	overflow: hidden;
	pointer-events: all;
	user-select: none;
}

.game_image {
	height: 90%;
	display: block;
}

.front {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.719);
	@include fCenter();
	&::after {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		background: url(../../../images/merryChristmas.png) no-repeat
			center/cover;
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
}

.back {
	background-color: $backColor;
	width: 100%;
	height: 100%;
	@include fCenter();
}

.disabled {
	pointer-events: none;
}

.faded {
	opacity: 0.5;
}

.buttons {
	color: white;
	text-transform: uppercase;
	background-color: $backColor;
	&:hover {
		color: red;
		background-color: lighten($backColor, 5%);
	}
}
