@use "../../../css/mixins" as *;
@use "../../../css/my_app.scss" as *;

$rows: 4;
$cols: 4;
$boxSize: 125px;
$gap: 5px;
$border: 1px solid white;

.container {
	@include container();
	@include fCenter();
	background-color: rgb(240, 234, 229);
}

.grid {
	@include shadowSB();
	display: grid;
	grid-template-columns: repeat($rows, 1fr);
	grid-template-rows: repeat($cols, 1fr);
	gap: $gap;
	padding: $gap;
	background: rgb(17, 17, 17);
	border-radius: $gap;
}

.box {
	width: $boxSize;
	aspect-ratio: 1;
	border: 1px solid white;
	border-radius: 3px;
	overflow: hidden;
}

.game_image {
	height: 90%;
	display: block;
}

.front {
	width: $boxSize;
	height: $boxSize;
	aspect-ratio: 1;
	background-color: rgba(226, 235, 226, 0.719);
	@include fCenter();
}

.back {
	background: rgb(9, 77, 9);
	width: 100%;
	height: 100%;
	@include fCenter();
}
