@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;
@use "../../../css/variables" as *;

.container {
    width: 100%;
    height: 100%;
}

.imageWrapper {
    height: 100%;
    overflow-y: auto;
    @include noVisibleScrollBar;
}

.linkWrapper {
    height: 100%;
    background-color: $appBlack;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    overflow-y: auto;
    @include linksAnchorStyle;
}

.imageStyle {
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 5vh auto;
    object-fit: scale-down;
}

.menuButton {
    position: absolute;
}

.title {
    color: $appBlack;
    text-overflow: ellipsis;
    overflow: hidden;
}
