@use "css" as *;

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.systemContainer {
    width: min(500px, 70vw);
    height: 70vh;
    display: flex;
    gap: 0.4rem;
    border-radius: 10px;
    overflow: hidden;
}

.menuButton {
    @include menuButton;
}
