@use "css" as *;

.buttonStyle {
    @include fEven(column);
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    background-color: $appBlack;
    color: $appYellow;
    transition: all 200ms ease;
    border-radius: 2px;
    font-size: 1.6rem;
    cursor: pointer;
    &__active {
        font-size: 2rem;
        color: white;
        font-weight: bold;
        box-shadow: inset 2px 2px 4px $appYellow, inset -2px -2px 4px $appYellow;
    }
    &:hover {
        background-color: lighten($appBlack, 20%);
    }
}

@media (max-width: 400px) {
    .buttonStyle {
        font-size: 1.5rem;
    }
}
