@use "../../../css/mixins" as mix;
@use "../../../css/variables" as var;

.buttonStyle {
  @include mix.fEven(column);
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: inset 0px 0px 1px white;
  color: var.$appYellow;
  transition: all 200ms ease;
  border-radius: 2px;
  font-size: 1.6rem;
  cursor: pointer;

  &__active {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    box-shadow:
      inset 2px 2px 4px var.$appYellow,
      inset -2px -2px 4px var.$appYellow;
  }

  &:hover {
    background-color: lighten(var.$appBlack, 20%);
  }
}

.panelButtons {
  background: transparent;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  aspect-ratio: 1 / 1;
}

@media (max-width: 400px) {
  .buttonStyle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}
