.billTotalInfo {
	width: 100%;
	display: flex;
	justify-content: center;
	h3 {
		min-width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-break: break-all;
	}
}

.highlighted {
	color: crimson;
}
