@use "../../css/my_app" as *;
@use "../../css/mixins" as *;

.container {
	@include container();
	background-color: white;
	background-image: url(../../images/city900.jpg);
	background-size: cover;
	background-position: center;
	@include fCenter(column);
	p {
		color: white;
		span {
			color: red;
		}
	}
}
.empty {
	width: 40%;
	height: 20vh;
	background-color: dodgerblue;
	display: grid;
	place-items: center;
	margin: auto;
	color: rgb(216, 195, 6);
}

.full {
	width: 40%;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: dodgerblue;
	margin: auto;
	color: rgb(216, 195, 6);
}
