@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;

.container {
    position: relative;
    padding: 1rem;
    gap: 1rem;
    @include fCenter(column);
    @include container(100%);
    background-color: white;
    overflow-y: scroll;
    &__dark {
        background-color: $darkMode;
    }
}

.tableHeader {
    width: 80%;
    @include fAround;
}

.tableBody {
    min-width: 340px;
    width: 80%;
}

.tableFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    &__info {
        min-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-break: break-all;
    }
    &__dark {
        color: $darkModeWhite;
    }
    &__data {
        color: crimson;
        font-weight: 600;
        font-size: 110%;
    }
}

.title {
    &__dark {
        color: $darkModeWhite;
    }
}
