@use "../../../css/variables" as *;
@use "../../../css/mixins" as *;
@use "../../../css/my_app.scss" as *;

.wrapper {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 1px;
    padding: 2px 0px 2px 0px;
    transition: all 120ms ease-out;
    // background-color: rgba(245, 247, 239, 0.4);
    box-shadow: inset 0px 0px 3px rgba(0 0 0/0.1);

    & div:nth-child(1) {
        color: rgb(5, 78, 5);
    }
    & div:nth-child(2) {
        color: crimson;
        font-weight: 500;
    }

    &:hover {
        background-color: rgb(221 221 221 / 0.4);
        &.wrapper__dark {
            background-color: darken($darkModeWhite, 60%);
        }
    }
    &__dark {
        background-color: lighten($darkMode, 10%);
        color: $darkModeWhite;
        & div:nth-child(1) {
            color: $darkModeWhite;
        }
    }
}

.data {
    width: 100%;
    @include fCenter;
    font-size: 1.15rem;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    &__dark {
        color: $darkModeWhite;
    }
}

.selected {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    background-color: $myYellow3;
    &:hover {
        background-color: darken($myYellow3, 2%);
    }
}

.tableIcons {
    width: 100%;
    @include fCenter;
}

.manageCell {
    @include fCenter;
    width: 100%;
}

.hiddenManage {
    display: flex;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30%);
    transition: all 200ms ease-in-out;
    &__show {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}
