@use "css/z-index" as z;
@use "css/mixins" as mix;

// TODO elements are not clickable under dropdown content

@mixin onHover {
    display: block;
    overflow: scroll;
    pointer-events: all;
    @for $child from 1 to 12 {
        li:nth-child(#{$child}) {
            display: block;
            animation: menu1 200ms ease-in-out forwards;
            animation-delay: 75ms * $child;
        }
    }
}

@keyframes menu1 {
    from {
        translate: 0px 50px;
        rotate: Y 180deg;
    }
    to {
        translate: 0px 0px;
        rotate: Y 0deg;
        opacity: 1;
    }
}

// TODO work needed below!

.container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.content {
    box-shadow: 0px 0px 2px yellow;
    perspective: 1000px;
    display: none;
    width: 100%;
    height: 100%;
    transition: all 200ms;
    cursor: pointer;

    overflow: scroll;
    pointer-events: none;

    &:hover {
        @include onHover();
    }

    li {
        display: none;
        border: 1px solid white;
        width: 100%;
        color: white;
        text-align: center;
        opacity: 0;
        padding: 3px;
        pointer-events: all;
    }
}

.header {
    font-size: clamp(0.8rem, 2vw + 0.5rem, 1.5rem);
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    width: 100%;
    padding: 0 4px;
    cursor: pointer;
    @include mix.truncate();
    text-align: center;

    &__hoverable {
        &:hover {
            + .content {
                height: 100%;
                @include onHover();
                pointer-events: all;
                @include z.z-index();
            }
        }
    }
}
