@use "../../css/my_app" as *;
@use "../../css/mixins" as *;

.container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $navHeight;
	z-index: 1;
	background-color: rgba(0, 128, 128, 0.336);
}

.links {
	text-transform: uppercase;
	font-size: clamp(0.7rem, 1.5vh + 0.3rem, 2.5rem);
}
.inActive {
	color: white;

	&:hover {
		color: rgb(216, 201, 201);
	}
}

.active {
	color: red;
	&:hover {
		color: rgb(211, 35, 35);
	}
}
