@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;
@use "../../../css/variables" as *;

.container {
	width: 300px;
	height: 200px;
	background-color: rgb(22, 86, 88);
}

.active {
	color: white;
}

.disabled {
	color: crimson;
}

.enabledIcon {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: limegreen;
}
