$openSpeed: 300ms;
$container-shadow: 4px 4px 15px rgb(255 255 255 / 0.5), -2px -2px 10px rgb(255 255 255 / 0.6);
$borderShadow: inset 0px 0px 5px white, inset 0px 0px 5px white;
$hoverColor: rgb(255 255 255/0.1);

@mixin noVisibleScrollBar {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.liftWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 20%;
    opacity: 1;
    pointer-events: none;
    box-shadow: $borderShadow;

    transition: all $openSpeed ease-out;
    overflow: hidden;
    &__show {
        transform: translateX(0%);
        pointer-events: all;
    }
    &:hover {
        background-color: $hoverColor;
    }
    &__buttons {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 1px;
        overflow-y: scroll;
        @include noVisibleScrollBar();
    }
    &__icons {
        display: flex;
        font-size: clamp(1rem, 2.5vw, 3rem);
        border-radius: 50%;
        color: crimson;
    }
}

.transform-left {
    transform: translateX(20%);
    opacity: 0;
}
.transform-right {
    transform: translateX(-20%);
    opacity: 0;
}

.panelButtons {
    background: transparent;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    aspect-ratio: 1 / 1;
}

// .downArrow,
// .upArrow,
// .static {
//     font-size: clamp(1rem, 2.5vw, 3rem);
//     color: transparent;
//     border-radius: 50%;
//     color: crimson;
// }

.static {
    display: flex;
    color: limegreen;
}
