$openSpeed: 300ms;

.liftWrapper {
    height: 100%;
    width: 20%;
    opacity: 1;
    pointer-events: none;
    background-color: rgba(255, 228, 196, 0.419);
    transition: all $openSpeed ease-out;
    overflow: hidden;
    &__show {
        transform: translateX(0%);
        pointer-events: all;
    }
}

.transform-left {
    transform: translateX(100%);
    opacity: 0;
}
.transform-right {
    transform: translateX(-100%);
    opacity: 0;
}

// .liftDisabled {
//     width: 100%;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 10rem;
//     flex-shrink: 1;
//     color: crimson;
// }

.panelButtons {
    background: transparent;
    border-radius: 50%;
    width: 50%;
    height: 50%;
    aspect-ratio: 1/1;
}
