@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;

.container {
	position: relative;
	padding: 1rem;
	gap: 1rem;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: white;
	overflow-y: auto;
	z-index: 1;
	&__dark {
		background-color: rgb(20, 20, 20);
	}
}

.tableHeader {
	width: 100%;
	padding: 0 2rem;
	@include fAround;
}
