*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
}
