*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    // overflow: hidden;
}

button,
a {
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    &:focus-within {
        outline: none;
        border: none;
    }
    &:active {
        transform: scale(0.95);
    }
}

.menuButton {
    position: absolute;
}
