@use "../../css/variables" as *;
@use "../../css/mixins" as *;
@use "../../css/my_app" as *;

.wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: $SBsize;
	transform: translateX(-100%);
	@include headerMainFooter;
	background-color: rgb(243, 238, 238);
	border-bottom-right-radius: 3px;
	overflow: hidden;
	padding: 2px;
	@include shadowSB;
	transition: $SBtransition;
	z-index: 1;
	&__open {
		transform: translateX(0);
	}
}

.header {
	border-bottom: $SBborder;
}

.header,
.footer {
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	user-select: none;
}
.footer {
	border-top: $SBborder;
	p {
		margin-left: auto;
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		font-size: 0.8rem;
	}
}
.body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.toggle {
	&__close {
		font-size: $SBfontSize;
		margin-left: auto;
		&:hover {
			color: $SBhoverColor;
		}
	}
}

.noDisplay {
	display: none;
}
