@use "css" as *;

$light-background-color: rgb(244, 242, 242);
$percent: 15%;
$shadow: 0px 0px 6px rgb(0 0 0 / 0.2);
$item-font-size: clamp(8px, 1.2vw, 1.2rem);

.dropdown {
    &__menu__item {
        list-style: none;
        font-size: $item-font-size;
        cursor: pointer;
        display: flex;
        align-items: center;
        border-radius: 3px;
        &:hover {
            background-color: darken($light-background-color, $percent);
            color: $light-background-color;
        }
    }
}

.drop_trigger {
    @include fCenter();
    width: 100%;
    height: 100%;
    display: flex;
    outline: none;
    border: none;
    overflow: hidden;
    box-shadow: $shadow;
    color: darken($light-background-color, $percent);
    background: $light-background-color;
    font-weight: bold;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    &:hover {
        color: $light-background-color;
        background: darken($light-background-color, $percent);
    }
}
