@use "../../css/my_app" as *;
@use "../../css/mixins" as *;
@use "../../css/variables" as *;

.container {
	@include container();
	background-color: $appBlack;
	@include fAround(row);
}

.time {
	font-size: 2rem;
	color: white;
}

.flipWrap {
	width: 200px;
	height: 250px;
}
