@use "../../css/my_app" as *;
@use "../../css/mixins" as *;

.container {
	@include container();
	background-color: rgb(63, 56, 56);
	@include fAround(row);
}

.time {
	font-size: 2rem;
	color: white;
}

.flipWrap {
	width: 200px;
	height: 250px;
}
