@use "../../css/my_app" as *;
@use "../../css/mixins" as *;

.container {
	@include container($nav);
	background-color: rgb(63, 56, 56);
	@include fAround(row);
}

.time {
	font-size: 2rem;
	color: white;
}
