@use "css/z-index" as z;
@use "css/variables" as var;

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: auto;
  background: none;
}

.container {
  width: 100%;
  overflow-y: auto;
  display: flex;
}

.sideBarLinks {
  padding: 5px;
  font-size: clamp(0.8rem, 2vw, 1.4rem);
  @include z.z-index("navigation");
  transition: color 200ms ease;
  &:hover {
    color: var.$navPrimaryBG;
  }
}

// TODO fix css around list items styling, maybe insert into sidebar as li
