@use "../../../css/variables" as *;
@use "../../../css/mixins" as *;

.wrapper {
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	@include shadow();
	transition: all 120ms ease-out;
	div {
		width: 50%;
	}
	& div:nth-child(1) {
		color: rgb(5, 78, 5);
	}
	& div:nth-child(2) {
		color: crimson;
	}

	&:hover {
		background-color: rgb(245, 239, 239);
	}
}

.data {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
}

.selected {
	box-shadow: $mixinShadowHover;
	background-color: rgb(245, 239, 239);
}

.iconBox {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
