@use "../../css/my_app" as *;
@use "../../css/mixins" as *;
@use "../../css/variables" as *;

.layout {
	position: relative;
	width: 100%;
}
.container {
	position: relative;
	margin: 0;
	@include container(100%);
	overflow: hidden;
	background-color: rgb(180, 225, 243);
}
