@use "../../css/my_app" as *;

.platformContainer {
	width: 100%;
	height: calc(100vh - 35px);
	display: flex;
	align-items: flex-end;
}
.container {
	position: relative;
	@include container();
	margin: 0;
	overflow: hidden;
	background-color: rgb(180, 225, 243);
}
