@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;
@use "../../../css/variables" as *;

.shaftContainer {
	width: 40px;
	height: 100%;
	margin: auto;
	padding: 1px;
	@include fCenter(column-reverse);
}
