.loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    &__dotWrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 2px;
    }

    &__dot {
        border-radius: 50%;
        padding: 5px;
        margin: 2px;
        background-color: black;
        flex-shrink: 1;
        opacity: 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        animation: blink 500ms ease infinite alternate-reverse;

        @keyframes blink {
            to {
                opacity: 1;
            }
        }

        &__dark {
            background-color: #ffc600;
        }
    }

    &__dark {
        color: #ffc600;
    }
}
