@use "css" as *;

.blockContainer {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: $borderShadow;
    transition: all 300ms ease;
    &:hover {
        background-color: $hoverColor;
    }
}

.shaftContainer {
    width: 14%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: $container-shadow;
}
