@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;
@use "../../../css/variables" as *;

$openingSpeed: 300ms;
$doorColor: rgba(255, 255, 255, 0.3);

.cabinWrapper {
    position: absolute;
    bottom: 0;
    width: 42%;
    border: 1px solid white;
    overflow: hidden;
    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(0%);
        background-color: $doorColor;
        transition: all $openingSpeed linear;
    }
    &::after {
        left: 50%;
    }
    &__left {
        left: 0;
    }
    &__right {
        left: 58%;
    }
}

@for $i from 1 to 12 {
    .changePosition-#{$i} {
        transform: translateY(calc(-100% * #{$i}));
    }
}

@for $i from 1000 to 10000 {
    .transitionSpeed-#{$i} {
        transition: all calc(1ms * #{$i}) ease-out;
    }
}

@for $i from 1 to 100 {
    .cabinHeight-#{$i} {
        height: calc(100% / #{$i});
    }
}

// .openDoors {
// 	&.cabinWrapper {
// 		&:hover {
// 			&.cabinWrapper::after {
// 				transform: translateX(100%);
// 			}
// 			&.cabinWrapper::before {
// 				transform: translateX(-100%);
// 			}
// 		}
// 	}
// }

.openDoors {
    &.cabinWrapper {
        &::after {
            transform: translateX(100%);
        }
        &::before {
            transform: translateX(-100%);
        }
    }
}

.closeDoors {
    &.cabinWrapper {
        &::after {
            transform: translateX(0%);
        }
        &::before {
            transform: translateX(0%);
        }
    }
}
