$doorSpeed: 300ms;
$maxFloorLevels: 15;
$doorColor: rgb(255 255 255 / 0.7);
$transition: transform $doorSpeed;

.cabinWrapper {
    position: absolute;
    bottom: 0;
    width: 42%;
    overflow: hidden;
    outline: 1px solid white;
    outline-offset: -2px;
    padding: 0.5rem;
    box-shadow: inset 0px 3px 40px rgb(255 255 255 / 0.7);
    &::before,
    &::after {
        position: absolute;
        content: attr(data-content);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: limegreen;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgb(24, 24, 23);
    }
    &::after {
        left: 50%;
        color: crimson;
    }
    &__left {
        left: 0;
    }
    &__right {
        left: 58%;
    }
}

@for $position from 1 through $maxFloorLevels {
    .cabinWrapper__changePosition-#{$position} {
        transform: translateY(-100% * $position);
    }
}

@for $speed from 100 to 15000 {
    .cabinWrapper__transitionSpeed-#{$speed} {
        transition: transform 1ms * $speed ease-out;
        transition-delay: $doorSpeed;
    }
}

@for $height from 1 through 100 {
    .cabinWrapper__cabinHeight-#{$height} {
        height: calc(100% / $height);
    }
}

.openDoors {
    &.cabinWrapper {
        &::after {
            transform: translateX(100%);
            transition: $transition;
            transition-delay: $doorSpeed;
        }
        &::before {
            transform: translateX(-100%);
            transition: $transition;
            transition-delay: $doorSpeed;
        }
    }
}

.closeDoors {
    &.cabinWrapper {
        &::after {
            transform: translateX(0%);
            transition: $transition;
        }
        &::before {
            transform: translateX(0%);
            transition: $transition;
        }
    }
}
