@use "../../../css" as *;

$doorSpeed: 300ms;
$doorColor: rgb(255 255 255 / 0.7);

.cabinWrapper {
    position: absolute;
    bottom: 0;
    width: 42%;
    overflow: hidden;
    outline: 1px solid white;
    outline-offset: -2px;
    padding: 0.5rem;
    box-shadow: inset 0px 3px 40px rgb(255 255 255 / 0.7);
    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        transform: translateX(0%);
        background-color: $appBlack;
    }
    &::after {
        left: 50%;
    }
    &__left {
        left: 0;
    }
    &__right {
        left: 58%;
    }
}

@for $i from 1 to 12 {
    .cabinWrapper__changePosition-#{$i} {
        transform: translateY(-100% * $i);
    }
}

@for $i from 1000 to 10000 {
    .cabinWrapper__transitionSpeed-#{$i} {
        transition: all 1ms * $i ease-out;
    }
}

@for $i from 1 to 100 {
    .cabinWrapper__cabinHeight-#{$i} {
        height: calc(100% / $i);
    }
}

.openDoors {
    &.cabinWrapper {
        &::after {
            transform: translateX(100%);
            transition: transform $doorSpeed linear;
        }
        &::before {
            transform: translateX(-100%);
            transition: transform $doorSpeed linear;
        }
    }
}

.closeDoors {
    &.cabinWrapper {
        &::after {
            transform: translateX(0%);
            transition: transform $doorSpeed linear;
        }
        &::before {
            transform: translateX(0%);
            transition: transform $doorSpeed linear;
        }
    }
}
