@use "css" as *;

$toggleSpeed: 200ms;
$toggleButtonColor: rgb(191 207 174/ 0.4);
$lightModeColor: rgb(49 52 46 / 0.5);
$togglePadding: 0px;
$sizes: (
    "small": 40px,
    "medium": 48px,
    "large": 56px,
    "xxl": 64px,
);

@mixin toggleHorizontally($value, $color) {
    &__enabled {
        animation: moveRight $toggleSpeed ease-out forwards;
        @keyframes moveRight {
            to {
                translate: $value;
                background-color: $color;
                border: 1px solid $color;
                box-shadow: 1px 1px 10px $color;
            }
        }
    }

    &__disabled {
        animation: moveLeft $toggleSpeed ease-out forwards;
        @keyframes moveLeft {
            from {
                translate: $value;
                background-color: $color;
                border: 1px solid $color;
                box-shadow: 1px 1px 10px $color;
            }
            to {
                translate: 0px;
                background-color: $color;
            }
        }
    }
}

@mixin getSizes {
    @each $key, $value in $sizes {
        &__#{$key} {
            width: calc($value + $togglePadding * 2);
            height: calc($value / 2 + $togglePadding);
            border-radius: $value;
        }
    }
}

@mixin buttonSizes {
    @each $key, $value in $sizes {
        &__#{$key} {
            @include circle(calc($value / 2));
            &__light {
                @include toggleHorizontally(100%, red);
            }
            &__dark {
                @include toggleHorizontally(100%, $myYellow3);
            }
        }
    }
}

.toggle_container {
    position: relative;
    @include fAround();
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    padding: $togglePadding;
    box-shadow: inset 0px 0px 10px $toggleButtonColor;
    outline: 2px solid $lightModeColor;
    @include getSizes();

    .moon {
        display: flex;
        color: $lightModeColor;
    }

    .sun {
        display: flex;
        color: $lightModeColor;
    }

    &__dark {
        outline: 2px solid $myYellow3;
        box-shadow: none;

        .moon,
        .sun {
            color: $myYellow3;
        }
    }
}

.toggle_button {
    position: absolute;
    left: $togglePadding;
    @include buttonSizes();
}
