@use "css/variables" as var;

$appColor: var.$myYellow;
// TODO set width dynamically here

.range_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  z-index: 10000;

  &__value {
    width: 2rem;
  }

  &__dark {
    color: $appColor;
  }
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  height: 0.5rem;
  border-radius: 5px;
  background: black;
  background-image: linear-gradient($appColor, $appColor);
  background-repeat: no-repeat;
  outline: 1px solid $appColor;

  &.range__dark {
    background: transparent;
    background-image: linear-gradient($appColor, $appColor);
    background-repeat: no-repeat;
  }

  @for $i from 0 through 100 {
    &.range__#{$i} {
      background-size: $i * 1% 100%;
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  background: $appColor;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 300ms ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
