@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;
@use "../../../css/variables" as *;

.container {
	@include container(100%);
	background: white url(../../../images/city900.jpg) no-repeat center/cover;
	display: flex;
}

.block {
	margin: auto;
	width: 90%;
	height: 70vh;
	@include fCenter;
	background-color: rgba(240, 233, 233, 0.15);
	color: white;
}

.menuButton {
	position: absolute;
}

.red {
	background-color: red;
	color: white;
}

.lightGrey {
	background-color: lightgrey;
}
