@use "../../../css/my_app" as *;
@use "../../../css/mixins" as *;

.container {
	position: relative;
	@include container();
	background-color: white;
	background-image: url(../../../images/city900.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	// @include fBetween(column);
	p {
		color: white;
	}
}
.empty {
	margin: auto;
	width: 40%;
	height: 20vh;
	background-color: dodgerblue;
	display: grid;
	place-items: center;
	color: rgb(216, 195, 6);
}

.full {
	margin: auto;
	width: 40%;
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	background-color: dodgerblue;
	color: rgb(216, 195, 6);
}

.menuButtonWrapper {
	width: 100%;
	display: flex;
}

.menuButton {
	position: fixed;
	left: 1rem;
	top: 0.3rem;
}

.red {
	background-color: red;
	color: white;
}

.lightGrey {
	background-color: lightgrey;
}
