@use "css" as *;

.finished {
    width: 70%;
    height: 30vh;
    min-width: 180px;
    background-color: rgba(9, 77, 9, 0.637);
    @include fEven(column);
    user-select: none;
    h1 {
        font-size: clamp(0.8rem, 2.5vw, 3rem);
        overflow: hidden;
        color: rgba(255, 0, 0, 0.8);
        text-align: center;
        text-shadow: 3px 3px 15px rgba(247, 241, 241, 0.8);
        span {
            color: white;
            margin: 0 0.6rem;
        }
    }
}

.newGameButton {
    color: white;
    text-transform: uppercase;
    background-color: black;
    &:hover {
        color: red;
        outline: 1px solid white;
    }
}
