@forward "./variables";
@forward "./mixins";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.4);
    }

    li {
        list-style: none;
    }

    button,
    input[type="text"] {
        background: none;
        border: none;
        outline: none;
        &:focus,
        :active {
            outline: none;
            border: none;
        }
    }

    img {
        display: block;
    }
}

@mixin shadowSB {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    &:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

@mixin container($width) {
    position: relative;
    width: $width;
    height: $containerHeight;

    &__padding {
        padding-left: $SBsize;
    }

    transition: $SBtransition;
}

// memory-game

$cols: 4;
$gap: 5px;
$border: 1px solid white;
$backColor: rgb(9, 77, 9);
$minWidth: 280px;

@mixin before($pic) {
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: transparent url($pic) no-repeat center/cover;
        opacity: 0.15;
    }
}
