$z-index: (
  navigation: 100,
  modal: 500,
  button: 50,
  dropdown: 2,
);

@function z-index($key) {
  @return map-get($z-index, $key) or 1;
}

@mixin z-index($key: 1) {
  z-index: z-index($key);
}
