$navHeight: 35px;
$containerHeight: calc(100vh - $navHeight);

$navPrimaryBG: rgba(47, 49, 49, 0.6);
$appBlack: rgb(24, 23, 23);
$appYellow: rgb(255, 198, 0);

$SBsize: 200px;
$SBborder: 1px dashed rgba(151, 136, 136, 0.4);
$SBtransition: all 200ms ease;
$SBhoverColor: rgb(134, 124, 124);
$SBfontSize: 1.3rem;
$SBnoMarginLeft: 0;
$darkMode: rgb(40, 64, 73);
$darkModeWhite: rgb(250 253 253/0.85);

@mixin shadowSB {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    &:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

@mixin container($width) {
    position: relative;
    width: $width;
    height: $containerHeight;
    &__padding {
        padding-left: $SBsize;
    }
    transition: $SBtransition;
}

// memory-game

$cols: 4;
$gap: 5px;
$border: 1px solid white;
$backColor: rgb(9, 77, 9);
$minWidth: 280px;

@mixin before($pic) {
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: transparent url($pic) no-repeat center/cover;
        opacity: 0.15;
    }
}

@mixin linksAnchorStyle {
    a {
        color: $appYellow;
        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

.menuButton {
    position: absolute;
}

// bubbles

$primary-background: rgb(180, 225, 243);

@mixin gradientBubble {
    background: #36d1dc; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #5b86e5,
        #36d1dc
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradientNav {
    background: #e6dada; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #274046, #e6dada); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #274046,
        #e6dada
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin menuButton {
    position: absolute;
    left: 0;
    top: -5%;
    z-index: 10;
    animation: flowDown 500ms ease-out forwards;
    @keyframes flowDown {
        to {
            top: 0%;
        }
    }
}
