$navHeight: 35px;
$navPrimaryBG: rgba(47, 49, 49, 0.6);
$appBlack: rgb(24, 23, 23);
$appYellow: rgb(255, 198, 0);
$containerHeight: calc(100vh - $navHeight);
$SBsize: 150px;
$SBborder: 1px dashed rgba(151, 136, 136, 0.4);
$SBtransition: all 200ms ease;
$SBhoverColor: rgb(134, 124, 124);
$SBfontSize: 1.3rem;
$SBnoMarginLeft: 0;
$darkMode: rgb(40, 64, 73);

@mixin shadowSB {
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
	&:hover {
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	}
}

@mixin container($width) {
	width: $width;
	height: $containerHeight;
	&__margin {
		padding-left: $SBsize;
	}
	transition: $SBtransition;
}

// memory-game

$cols: 4;
$gap: 5px;
$border: 1px solid white;
$backColor: rgb(9, 77, 9);
$minWidth: 280px;

@mixin before($pic) {
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: url($pic);
		background-size: cover;
		background-position: center;
		opacity: 0.15;
		z-index: -1;
	}
}

@mixin linksAnchorStyle {
	a {
		color: $appYellow;
		&:hover {
			color: rgba(255, 255, 255, 0.8);
		}
	}
}

.menuButton {
	position: absolute;
}
