@use "css" as *;

$scrollerBg: rgb(255 255 255 / 0.2);
$tiny: 150px;
$small: 200px;
$medium: 500px;
$large: 800px;
$fit: 100%;

.scrollerWrapper {
    &--tiny {
        width: $tiny;
    }

    &--small {
        width: $small;
    }

    &--medium {
        width: $medium;
    }

    &--large {
        width: $large;
    }

    &--fit {
        width: $fit;
    }
}

.scrollerContainer {
    scroll-behavior: smooth;
    overflow: scroll;
    background-color: inherit;
    @include noVisibleScrollBar();
    border: 2px solid $scrollerBg;
    width: 100%;

    &__header {
        background-color: $scrollerBg;
        display: flex;
        align-items: center;
        padding: 1.2rem 2.5rem;
        h2 {
            @include truncate();
        }
    }
}

.photo {
    max-width: 100%;
    outline: 1px solid $scrollerBg;
    outline-offset: 1px;
}

.scrollerContent {
    display: flex;
    padding: 0.5rem 2rem;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-start;

    &--vertical {
        flex-direction: column;
    }
}

.bulletWrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
    @include noVisibleScrollBar();
    padding: 3px;
    gap: 2px;
}

.linkStyle {
    font-size: 2rem;
    color: white;
}
