@use "../../../css/mixins" as *;
@use "../../../css/my_app.scss" as *;

$cols: 4;
$boxSize: 125px;
$gap: 5px;
$border: 1px solid white;
$backColor: rgb(9, 77, 9);

.controls {
	@include fBetween;
	@include shadowSB;
	width: 35%;
	min-width: 180px;
	padding: 0.3rem 1rem;
}

.clicks {
	color: red;
	text-transform: uppercase;
	padding: 0px 3px;
	span {
		color: $backColor;
		font-size: 140%;
	}
}
