@use "../../../css/mixins" as *;
@use "../../../css/my_app.scss" as *;

.controls {
	@include fBetween;
	@include shadowSB;
	background-color: rgba(255, 255, 255, 0.4);
	width: 35%;
	min-width: $minWidth;
	padding: 0.3rem 1rem;
	transition: all 100ms;
}

.clicks {
	color: red;
	text-transform: uppercase;
	padding: 0px 3px;
	span {
		color: $backColor;
		font-size: 140%;
	}
}
