@use "css/mixins" as *;

$minWidth: 600px;
$backColor: rgb(9, 77, 9);

//TODO fix buttons overflow the control wrapper small screen

.controls {
    @include fBetween;
    @include shadow3;
    background-color: rgba(255, 255, 255, 0.4);
    // width: $minWidth;
    width: 50%;
    padding: 0.3rem 1rem;
    transition: all 100ms;
    margin: 0.5rem;
}

.clicks {
    width: 60%;
    color: red;
    text-transform: uppercase;
    padding: 0px 3px;
    span {
        color: $backColor;
        font-size: 150%;
        font-weight: bold;
    }
}
