@use "../../css/variables" as *;
@use "../../css/mixins" as *;

.wrapper {
	width: 50%;
	height: 80vh;
	box-shadow: $shadow;
	margin: 1rem auto;
}

.header {
	width: 100%;
	height: 35px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	background-color: slategray;
	span {
		width: 100%;
		text-align: center;
		display: block;
		text-transform: uppercase;
		color: wheat;
	}
}

.body {
	width: 100%;
	height: calc(100% - 35px);
	overflow: hidden;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
	text-align: center;
}
