@use "../../../css/variables" as *;
@use "../../../css/mixins" as *;

$fontSize: 1.15rem;

.wrapper {
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: all 120ms ease-out;
    background-color: rgba(235, 240, 239, 0.7);
    margin: 4px;
}

.edit_cell {
    @include fAround;
    width: 100%;
    animation: growMargin 120ms forwards linear 1;
    font-size: $fontSize;
    input {
        font-size: $fontSize;
        width: 60%;
        margin: 0;
        border: none;
        outline: none;
        border-radius: 3px;
        text-align: center;
        padding: 5px;
        margin: 2px;
        @include shadow(120ms);
        &:focus {
            border: none;
            outline: none;
        }
        &:hover {
            cursor: pointer;
        }
    }
    @keyframes growMargin {
        to {
            margin: 6px;
        }
    }
}

.submitEditButton {
    display: block;
    outline: none;
    border: none;
    background: transparent;
    &:focus {
        outline: none;
        border: none;
    }
}
