@use "css/mixins" as mix;

$maxWidth: 600px;
$backColor: rgb(9, 77, 9);

//TODO fix buttons overflow the control wrapper small screen

.controls {
    display: flex;
    align-items: center;
    @include mix.shadow3;
    width: 100%;
    max-width: $maxWidth;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.3rem 1rem;
    margin-bottom: 0.5rem;
    backdrop-filter: blur(15px) brightness(170%);
}

.clicks {
    color: red;
    text-transform: uppercase;
    span {
        color: $backColor;
        font-weight: bold;
        font-size: 2rem;
    }
}
