@use "../../css/my_app" as *;
@use "../../css/mixins" as *;
@use "../../css/variables" as *;

.nav_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $navHeight;
    z-index: 1;
    background-color: $navPrimaryBG;
    overflow-x: auto;
}

.links {
    text-transform: uppercase;
    font-size: clamp(0.7rem, 1.5vw + 0.4rem, 2.2rem);
    transition: color 150ms ease-out;
    color: $myYellow3;
    &:hover {
        color: darken($myYellow3, 10%);
    }
}

.active {
    color: white;
}
