@use "../../css" as *;

@mixin gradientNav($degrees) {
    background: rgba(255, 255, 255, 0.071);
    background: linear-gradient($degrees, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.01) 100%);
}

.nav_container {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: $navHeight;
    z-index: 1000;
    padding-left: $SBsize;
    @include gradientNav(180deg);
    &__sidebar-closed {
        padding-left: 0;
    }
}

.links {
    text-transform: uppercase;
    font-family: "PT Sans", sans-serif;
    font-size: clamp(0.9rem, 2vw + 0.4rem, 2.2rem);
    transition: color 150ms ease-out;
    color: $myYellow3;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    &:focus-within {
        outline: none;
        border: none;
    }
    &:hover {
        color: darken($myYellow3, 10%);
    }
}

.active {
    transform: scale(0.95);
    color: white;
}

.navBarDrop {
    background-color: rgba(255, 255, 255, 0.289);
}
