@use "css" as *;

.buttonWrapper {
    width: 80%;
    display: flex;
    padding: 3px;
    gap: 5px;
    &__dark {
        background-color: $darkMode;
    }
    &--start {
        align-items: flex-start;
    }
    &--center {
        justify-content: center;
    }
    &--end {
        justify-content: flex-end;
    }
}
