@use "css" as *;

$darkModeColor: #b2d6f4cc;
$lightModeColor: #1a171de3;

@function shadows($color) {
    @return 1px 1px 10px $color;
}

.dropSelect {
    position: relative;
    width: 100%;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: shadows($lightModeColor);
    cursor: pointer;
    border-radius: 3px;

    &__icon {
        display: flex;
        flex-shrink: 0;
        padding: 5px;
        color: $lightModeColor;
    }

    &__label {
        @include truncate();
        padding: 5px;
        color: $lightModeColor;
    }

    &__menu {
        position: absolute;
        width: 100%;
        z-index: 1000;
        top: 110%;
        overflow: hidden;
        box-shadow: shadows($lightModeColor);

        border-radius: 3px;

        &__darkMode {
            box-shadow: shadows($darkModeColor);
        }

        &__open {
            display: block;
        }

        &__close {
            display: none;
        }
    }

    &__item {
        @include truncate();
        padding: 1px 0.5rem;
        cursor: pointer;
        color: $lightModeColor;
        &:hover {
            background-color: rgba(204, 203, 203, 0.3);
        }
    }

    &__darkMode {
        box-shadow: shadows($darkModeColor);

        color: $darkModeColor;

        &.darkMode {
            &__icon,
            &__label,
            &__item {
                color: $darkModeColor;
            }
        }
    }
}

// TODO fix ui for menu inside .dropSelect => __menuList
// style it!!!
// darkMode as well
