@use "../../../css/variables" as *;
@use "../../../css/mixins" as *;

.wrapper {
	display: flex;
	align-items: center;
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	@include shadow(130ms);
	transition: all 120ms ease-out;
	background-color: rgba(245, 247, 239, 0.39);
	div {
		width: 50%;
	}
	& div:nth-child(1) {
		color: rgb(5, 78, 5);
	}
	& div:nth-child(2) {
		color: crimson;
	}

	&:hover {
		background-color: rgb(245, 239, 239);
	}
	&__dark {
		background-color: rgba(28, 29, 25, 0.507);
	}
}

.data {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	user-select: none;
	&__dark {
		color: white;
	}
}

.selected {
	box-shadow: $mixinShadowHover;
	background-color: rgb(245, 239, 239);
}

.iconBox {
	@include fEven;
}
